* {
  padding: 0;
  margin: 0;
}

.ell {
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.ell2 {
  overflow: hidden;
  text-overflow: -o-ellipsis-lastline;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.ell3 {
  overflow: hidden;
  text-overflow: -o-ellipsis-lastline;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.cb {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

img {
  background-image: url('/imgs/img_default.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.nodata {
  text-align: center;
  font-size: 0.3rem;
  padding: 0.5rem 0;
}
